nav ul {
  display: flex;
  justify-content: center;
  background-color: #cdcfff;
  margin-block-start: 0;
  padding: 16px;
  font-size: x-large;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul li {
  list-style: none;
  margin-right: 2.5rem;
  font-weight: 500;
}

.link {
  text-decoration: none;
}
